.color-secundario
  background-color: #DBFAFA !important  

.color-acento-contenido
  background-color: #FFE8DE !important
  border: 10px solid white
.img-a 
  display: block
  margin: auto

.img-t
  width: auto
  height: auto       

.BorTit
  border-left: 5px solid #EA526F
  padding: 6px 0px 6px 10px  

.bg-color-1
  background-color: #DBFAFA

.borde-left
  border-left: 3px solid #25CED1

.bloque-texto-b.color-primario::before 
    background-color: #FFE8DE !important
.color-primario
  background-color: white !important

.slyder-a__bullets
  bottom: 0px !important

.slyder-a__bullets__item--active
  background-color: #FF8A5B !important

.slyder-a__bullets__item:hover
  border-color: #FF8A5B !important

.tarjeta--gris
  background-color: #ff895b21 !important

.img-infografica.color-acento-contenido .img-infografica__item__dot::before
  background-color: #0075A4 !important

.img-infografica.color-acento-contenido .img-infografica__item__dot::after
  background-color:  white !important

.tarjeta--gris-bg-1
  background-color: #FAFAFA  

.linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot
  border-color: #471E89 !important

.linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot::after   
  background-color: #471E89 !important

.linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__line-container::before  
  background-color: #471E89 !important  

.linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container::after
  background-color: #471E89 !important  

.linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__dot    
  border-color: #471E89 !important    

.linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container::before  
  background-color: #471E89 !important    

.p-left
  margin-left: 2rem  